.edit-presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.edit-presentation--left {
  height: 100%;
  min-width: 400px;
  flex: 0;
}

.edit-presentation--right {
  height: 100%;
  flex: 4;
  max-width: 1450px;
  display: flex;
  flex-direction: column;
}
