.list .group__item {
  min-width: 100px;
  padding: 5px 40px;
  background-color: inherit;
}

.list .group__item .group__item--link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list .group__item:last-child {
  border-bottom: none;
}

.list .group__item:nth-child(even) {
  background-color: var(--plain-bg-color);
}

.list .group__item-head {
  display: flex;
  align-items: center;
  gap: 15px;
}

.list .group__item .group__name {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.15px 0.15px 6px whitesmoke;
}

.list .group__item .group__total-member {
  font-size: 12px;
  color: var(--secondary-pink-color);
}

.list .group__item .group__author {
  font-size: 11px;
  font-style: italic;
  color: white;
}
