.fix-border-radius-div {
  margin: 0;
  padding: 0;
  overflow-y: auto;

  font-size: 16px;
  font-family: Arial, sans-serif;

  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-color: var(--bg-color);
}

.fix-border-radius-div::-webkit-scrollbar {
  width: 5px;
}

.fix-border-radius-div::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 50px;
}

.fix-border-radius-div::-webkit-scrollbar-thumb {
  background-color: var(--secondary-dark-blue-color);
  border-radius: 50px;
}

.group__list {
  padding: 0px;
  color: white;
}
