.btn {
  border: none;
  color: white;
  border-radius: 8px;
  min-width: min-content;
  min-height: min-content;
  margin: 0 auto;

  font-weight: bold;
  letter-spacing: 0.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
