.btn {
  border: none;
  padding: 6px 18px;

  color: white;
  border-radius: 8px;
  min-width: 100px;
  width: fit-content;
  height: 40px;
  margin: 0 auto;
}

.btn--gradient {
  background-image: linear-gradient(
    to right bottom,
    var(--secondary-purple-color),
    var(--secondary-pink-color)
  );
}
