:root {
  /*   --header-color: #099268; */
  --header-color: #191a28;
  --footer-color: #191a28;

  --bg-color: #212233;
  --dark-bg-color: #191a28;
  --light-dark-bg-color: #22243b;
  --plain-bg-color: #191a28;
  --border-color: #f1f3f5;
  --overlay-color: rgba(0, 0, 0, 0.7);

  --secondary-pink-color: #f62682;
  --secondary-purple-color: #6a5af9;
  --secondary-fresh-blue-color: #8be9fd;
  --secondary-dark-blue-color: #6272a4;
  --secondary-red-color: #ff5555;
  --secondary-yellow-color: #f1fa8c;
  --secondary-light-gray-color: rgba(64, 87, 109, 0.07);
  --secondary-dark-gray-color: rgba(57, 76, 96, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: white;
  overflow: auto;
}

.app .content {
  flex: 1;
  overflow-y: auto;
}
