:root {
  --header-color: #099268;
  --aside-color: #e9ecef;
  --center-color: #fff;
  --footer-color: #343a40;
  --footer-text-color: #adb5bd;

  --plain-bg-color: #151935;
  --border-color: #f1f3f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app .content {
  flex: 1;
}
