footer {
  color: var(--footer-text-color);
  background-color: var(--footer-color);
  padding: 12px 40px;
  height: 80px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
