.chart-bar {
  height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 0.8em;
  border: 1px solid #313131;
  background-color: var(--secondary-light-gray-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__fill {
  background-color: var(--secondary-pink-color);
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.4em;
  text-align: center;
}
