.chart {
  padding: 0.5em;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-dark-gray-color);
  border-radius: 0.15em;
}
