.scroll-slides {
  background-color: var(--dark-bg-color);
  font-size: 14px;
}

.scroll-slides__list {
  list-style-type: none;
  margin: 0;
  padding: 30px 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  gap: 30px;
}

.scroll-slides__item {
  background: transparent;
}

.scroll-slides__item.last-item {
  padding: 0;
  position: relative;
}
.scroll-slides__item.last-item span {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
