.profile-content {
  color: white;
  padding: 20px;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.profile-content h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 140px;
}

.profile-upper--general {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.profile__img {
  width: 150px;
  border-radius: 50%;
}

.profile__fullname {
  font-size: 22px;
  font-weight: bold;
  width: min-content;
}

.profile-upper__description {
  border: 2px solid var(--border-color);
  border-radius: 14px;
  box-shadow: 0.05px 0.05px 1px whitesmoke;
  padding: 10px;
  width: 400px;
  height: 160px;
}

.profile-below--two-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.profile-group__left,
.profile-group__right {
  text-align: center;
  width: 400px;
}

.profile-group__title {
  margin: 10px 0;
}

.btn.btn-new-group {
  padding: 8px 14px;
}

.btn.btn-change-name {
  width: max-content;
  height: max-content;
  padding: 4px 8px;
  background-color: var(--secondary-pink-color);

  font-size: 12px;
  box-shadow: 0.5px 0.5px 15px var(--secondary-pink-color);
}
