header {
  height: max-content;
  padding: 14px 20px;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__item {
  display: inline-block;
}

.nav__list {
  list-style: none;
  display: inline-block;
  margin: 0;

  display: flex;
  gap: 48px;
}

a,
a:link {
  color: white;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  transition-delay: 0.05s;
  text-transform: uppercase;
  font-weight: bold;
}

a:hover,
a:link:hover {
  color: #f1f3f5;
}

.header__title,
.header__title:link {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  font-family: sans-serif;
  margin: 0;
  letter-spacing: -0.5px;
}

.header__title {
  font-size: 32px;
  background: -webkit-linear-gradient(
    var(--secondary-purple-color),
    var(--secondary-pink-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
  gap: 200px;
}

.nav__item {
  font-size: 16px;
  width: max-content;
}

.nav__item:hover {
  font-size: 17px;
  font-weight: 600;
}

.nav__item .nav__user__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.nav__item .nav__user__name {
  color: white;
  font-size: 18px;
  margin-top: 10px;
  text-transform: none;
}

.nav--right .nav__list {
  align-items: center;
}

/* .nav--right .btn-logout {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: var(--secondary-pink-color);
  color: white;
  font-weight: bold;
  letter-spacing: 0.2px;
  font-size: 12px;
} */

.nav--right a {
  display: flex;
  align-items: center;
  gap: 8px;
}
