.container--outside {
  margin: 0px;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 25px var(--secondary-purple-color);

  background-color: #191a28;

  background-image: linear-gradient(
    to right bottom,
    var(--secondary-purple-color),
    var(--secondary-pink-color)
  );
}

/* GROUP LIST CSS */
.container--inside {
  height: 200px;
  color: black;
  list-style: none;

  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 3px 1px;
}
