.card--outside {
  margin: 0 auto;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 25px var(--secondary-purple-color);

  background-color: #191a28;

  background-image: linear-gradient(
    to right bottom,
    var(--secondary-purple-color),
    var(--secondary-pink-color)
  );
}

.card--inside {
  height: 100%;
  color: black;
  list-style: none;

  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 3px 1px;
}

/* .card-radius-fix {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;

  font-size: 16px;
  font-family: Arial, sans-serif;

  background-color: var(--bg-color);
} */
